[Unit]
Description=Start the fill station binary
After=network.target

[Service]
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/crt
ExecStart=/home/crt/fill_station

[Install]
WantedBy=multi-user.target