[Unit]
Description=Docker Compose that starts the Proxies, Database, and Web Server
Requires=docker.service
After=docker.service
 
[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /home/crt/Ground-Software/compose_prod.yml up
ExecStop=/usr/bin/docker compose -f /home/crt/Ground-Software/compose_prod.yml down
 
[Install]
WantedBy=multi-user.target